/* vim:  set ts=2 sw=2:  */

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 52px;
}

div#container header h1 {
  color: #f38630;
}

body {
  margin: 0;
  padding: 0;
}

div#container {
  margin: 48px auto;
  padding: 0;
  width: 740px;
}

section h1 {
  font-size: 24px;
}

article.entry {
  background: #a7dbd8;
}
article header h1 {
  font-size: 16px;
}
