/* vim:  set ts=2 sw=2:  */

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 52px;
}

div#container header h1 {
  color: #f38630;
}

body {
  font-family: Georgia, serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

div#container {
  margin: 48px auto;
  padding: 0;
  width: 740px;
}

section h1 {
  font-size: 24px;
}

article.entry {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  padding: 8px;
  margin: 16px 0;
}

article.request {
  background: #deebf3;
}

article header h1 {
  font-size: 16px;
}

p[class^="flash"] {
    background: none repeat scroll 0 0 #fffccf;
    border: 1px solid #fffccf;
    border-radius: 0 0 5px 5px;
    color: #000000;
    left: 50%;
    margin: 0 0 0 -200px;
    padding: 5px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 400px;
    z-index: 1000;
}

label small {
    display: block;
}

input.openid {
  background: url(openid.png) no-repeat 4px center;
  padding-left: 26px;
}

input, textarea, select {
  border: 1px solid black;
  padding: 2px;
  background: white;
  font-family: 'Georgia', serif;
  font-size: 17px;
  color: #004b6b;
}

textarea {
  width: 99%;
}
