/* vim:  set ts=2 sw=2:  */

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

div#container > header > h1 {
  font-size: 72px;
  line-height: 52px;
  color: #f38630;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

div.entry_body {
  display: none;
}

div#container {
  margin: 48px auto;
  padding: 0;
  width: 740px;
}

section h1 {
  font-size: 48px;
}

article.entry {
  padding: 8px;
  margin: 16px 0;
  font-size: 24px;
  font-weight: nro
}

article header {
  cursor: pointer;
}

article.entry h1 {
  margin: 0;
  color: #4c4a52;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
}

article.request {
  background: #0e2f59;
  color: #cec7d1;
}

article.request h1 {
  color: #fff;
}

article.offer div.entry_body p {
  color: #293137;
}

article.request div.entry_body p {
  color: #f2c288;
}

article.offer {
  background: #eaecec;
  color: #86a0b7;
}
article header h1 {
  font-size: 16px;
}

p[class^="flash"] {
    background: none repeat scroll 0 0 #fffccf;
    border: 1px solid #fffccf;
    border-radius: 0 0 5px 5px;
    color: #000000;
    left: 50%;
    margin: 0 0 0 -200px;
    padding: 5px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 400px;
    z-index: 1000;
    font-size: 17px;
}

label small {
    display: block;
}

input.openid {
  background: url(openid.png) no-repeat 4px center;
  padding-left: 26px;
}

input, textarea, select {
  border: 1px solid black;
  padding: 2px;
  background: white;
  font-family: 'Georgia', serif;
  font-size: 17px;
  color: #004b6b;
}

textarea {
  width: 99%;
}

