{# vim: set ts=2 sw=2 filetype=htmljinja: #}
<article class="entry {{ entry.type }}">
  <header>
    <h1>{{ entry.summary }}</h1>
  </header>
  <div class=entry_body>
    <p>{{ entry.details }}</p>
    <footer>
      <dl>
        <dt> Score </dt>
        <dd> {{ entry.score }} </dd>
        <dt> Contact Info
        <dd> <address>{{ entry.contact_info }}</address> </dd>
        <dt> Posted </dt>
        <dd> <time pubdate datetime="{{ entry.pubdate.isoformat }}">Posted {{ entry.pubdate|timesince }} ago</time> </dd>
      </dl>
    </footer>
  <div class=entry_body>
</article>
