{# vim: set ts=2 sw=2 filetype=htmljinja: #}
{# Basic skeleton for all pages on Marcel #}
<!doctype html>
<head>
  <meta charset=utf-8>
  <title>Marcel</title>
  <link rel=stylesheet href=/static/style.css type=text/css>
  <link rel=stylesheet href=http://fonts.googleapis.com/css?family=Ubuntu type=text/css>
</head>
<body>
  <div id=container>
    <header>
      <h1>Marcel</h1>
      <p>Marcel is a free and simple web application for co-ordinating mutual aid. <a href="https://github.com/atdt/marcel">Source on GitHub</a>.</p>
    </header>
    {% block body %}{% endblock %}
  </div>
  <aside>
    {# Display any alert messages dispatched using Flask's flash() #}
    {% for category, msg in get_flashed_messages(with_categories=true) %}
      <p class=flash-{{ category }}>{{ msg }}</p>
    {% endfor %}
  </aside>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script src="/static/marcel.js"></script>
</body>
</html>
