{# vim: set ts=2 sw=2 filetype=htmljinja: #}
{% extends "layout.html" %}
{% block body %}
<section>
  <h1>Requests</h1>
  {% for entry in requests -%}
    {% include "entry.html" %}
  {% else %}
    <p><i>No requests. Everything is hunky-dory.</i></p>
  {%- endfor %}
</section>
<section>
  <h1>Offers</h1>
  {% for entry in offers -%}
    {% include "entry.html" %}
  {% else %}
    <p><i>No offers. Why not step up?</i></p>
  {%- endfor %}
</section>
<section>
  {% if authenticated %}
    <h1>Add an entry</h1>
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      {{ form.csrf }}
      {{ render_field(form.entry_type) }}
      {{ render_field(form.summary) }}
      {{ render_field(form.details) }}
      {{ render_field(form.contact_info) }}
      <button>Add entry</button>
    </form>
  {% else %}
    <h1>Sign in</h1>
    {% include "login.html" %}
  {% endif %}
</section>
{% endblock %}
